#layer3 {
  display: none;
}
#layer2 {
  display: none;
}

.light_opacity {
  opacity: 0.8;
  cursor: pointer;
}
.light_opacity:hover {
  opacity: 1.0;
}
#close_schreibtisch {
  cursor: pointer;
}
#close_regal {
  cursor: pointer;
}
.rect {
  z-index: 9999;
}
.clickable {
  cursor: pointer;
}
