@charset "utf-8";
/* CSS Document */
th:hover{
	transform:scale(1.3,1.1);
	border: 0px solid black;
	background-color:#1F525E;
	color:white;
}

.tabelle{
	position: relative;
	margin: auto;
	color:white;
	top:30%;
	padding:10px;
	display: block;
	text-align:center;	
	font-size:1.4em;
	width:auto;
	border-radius:3px;
	margin-bottom:65px;
	box-shadow: 0 1px 10px black;
}
#uArtikelContent, #bArtikelContent{		
	display: none;	
}
.tablecontent{
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center; 
	align-items:center;
}

.tabelle  p span{
	color:gold;
	background-color:black;
	padding: 0 10px;
	border-radius:3px;
}
table{
	border-radius:3px;
	display:inline-block;
	color:black;
	padding:10px 10px;
	background-color:#FFCE00;
	margin:5px;
	
}
td, th {
    border: 1px dotted black;
	padding:5px;
	text-align:left;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
th{
	color:white;
}


/* Schatten-Effekt*/
.effect2
{

  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px black;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
#fragen{
	text-align:left;
	margin-left:10px;
}
span{
	color:gold;
}
 table span{
	 color:white;
}
	
.artikel {
	display:block;
	width: 85px;
	position:fixed;
	top:300px;
	left:0px;
	background-color:#1F525E;
	color:white;	
	padding:5px 20px 5px 5px;
	text-align:left;
	font-size:1em;	
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	cursor:pointer;	
	z-index:2;
	border-radius:0px 3px 3px 0;	
}
.artikel:hover{
	color:black;
	background-color:gold;
	
}
#ubA{
	top:351px;
}

#personalpronomen{
	font-size:1.3em;
}
