#svg2 {
  position: absolute;
  top: 26%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 66%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 72%;
  max-width: 72%;
}
#fruehstueck_bild {
  position: absolute;
  box-shadow: 3px 3px 3px 3px black;
  top: 26%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 66%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
   #fruehstueck_bild {
    top: 28%;
    max-width: 66%;
    max-height: 66%;
   }
   #svg2 {
     top: 28%;
     max-width: 66%;
     max-height: 66%;
   }
}
path:hover {
  fill: #222222;
  cursor: help;
}
ellipse:hover {
  fill: #222222;
  cursor: help;
}
circle:hover {
  cursor: help;
  fill: #222222;
}
.light-white {
  fill: #ffffff;
  fill-opacity: 0.2;
}
.hidden {
  visibility: hidden;
}
.uebungLink {
  	position:absolute;
  	top:165px;
  	background-color: gold;
  	width:auto;
  	height:auto;
  	border-radius:3px 0 0 3px;
  	z-index:1;
  	right: 5px;
  	padding: 2px;
    margin-right: 2px;
  	font-family:"Amatic SC";
  	letter-spacing:1px;
  	border: solid 1px white;
    color: white;
}
.uebungLink:hover {
	color:black;
	cursor:pointer;
	transition-duration:0.3s;
	transition-timing-function: ease-out;
	border: solid 1px;
	box-shadow: 0px 0px 5px black;
}
@media screen and (max-width: 899px) {
  .uebungLink {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  .uebungLink {
    font-size: 40px;
  }
}

