#svg2 {
  position: absolute;
  top: 26%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 66%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 72%;
  max-width: 72%;
}
#fruehstueck_bild {
  position: absolute;
  box-shadow: 3px 3px 3px 3px black;
  top: 26%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: 66%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
   #fruehstueck_bild {
    top: 28%;
    max-width: 66%;
    max-height: 66%;
   }
   #svg2 {
     top: 28%;
     max-width: 66%;
     max-height: 66%;
   }
}
@media screen and (max-width: 899px) {
  #richtigButton, #zurTheorie {
    font-size: 24px;
    margin-top: 2em;
  }
}
@media screen and (max-width: 500px) {
  #richtigButton, #zurTheorie {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  #richtigButton, #zurTheorie {
    font-size: 40px;
  }
}
.eingabeFeld {
  font-size: 1.7em;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro",
  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#richtigButton {
	position:absolute;
	top:165px;
	background-color: gold;
	width:auto;
	height:auto;
	border-radius:3px 0 0 3px;
	z-index:1;
	right: 5px;
  margin-right: -5px;
	padding: 2px;
	font-family:"Amatic SC";
	letter-spacing:1px;
	border: solid 1px white;
  color: white;
}
#zurTheorie {
  position:absolute;
  top:165px;
  text-align: center;
  background-color:gold;
  width: auto;
  height: auto;
  border-radius:0px 3px 3px 0px;
  z-index:1;
  left: 5px;
  padding: 2px;
  margin-left: -2px;
  font-family:"Amatic SC";
  letter-spacing:1px;
  border: solid 1px white;
  color: white;
}
#zurTheorie:hover {
  color:black;
  cursor:pointer;
  transition-duration:0.3s;
  transition-timing-function: ease-out;
  border: solid 1px;
  box-shadow: 0px 0px 5px black;
}
#richtigButton:hover {
	color:black;
	cursor:pointer;
	transition-duration:0.3s;
	transition-timing-function: ease-out;
	border: solid 1px;
	box-shadow: 0px 0px 5px black;
}
