@charset "utf-8";
/* CSS Document */

/*div-content für den Aufgabe-Container*/
.tabelle{	
	position: relative;	
	color:white;
	margin:110px 150px 65px 150px;
	padding:5px;	
	text-align:center;		
	border-radius:3px;	
	box-shadow: 0 1px 10px black;	
}
/*div-content für die Aufgabestellung*/
.aufgabe{
	text-align: center;
	color: white;
	background-color: #1F525E;
	width: auto;
	height: auto;
	padding: 5px;	
	border-radius: 3px 3px 0 0;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 1.5em;
}
/*der Container für die Sätze der Übungen */
#saetzecontainer, #zahlencontainer{
	border-radius:0 0  3px 3px;	
	height:auto;
	background-color:gold;	
  	flex-flow: row wrap;
  	justify-content: center;
	font-size:1.4em;
	color:black;
	padding:0.5px;
}/*das div-Element mit der Lösungen für die Übung 3*/
.kontrolle{
	position:absolute;
	display:block;
	left:-110px;
	padding:5px 13px 8px 8px;
	font-size:1em;
	box-shadow: 0px 0px 0px black;		
	border-radius: 3px  0 0 3px;
	background-color:transparent;
	border: 2px solid gold;
	color:gold;
}
.kontrolle:hover{
	transition-duration:0.3s;
	transition-timing-function: ease-out;	
	color:#1F525E;
	background-color:gold;
	cursor:pointer;
	box-shadow: -5px 1px 10px black;
	
}
.eingabe, .zweiteEingabe{
	width: 100px;
  	-webkit-transition: width .35s ease-in-out;
  	transition: width .25s ease-in-out;	
	background-color:gold;
	color:#1F525E;
	font-family:"Fredericka the Great";
	border: none;
    border-bottom: 1px dotted black;
	font-size:1.1em;
	font-weight:bold;
}
.zweiteEingabe{
	width: 100px;
}
.eingabe:focus{
	width:66%;
}
option, select{
	border:none;
	border-bottom:solid 1px;	
	font-family:"Fredericka the Great", sans-serif;
	font-size:1em;
	background-color:gold;	
}
.antwort{
	padding:2px;
	border-radius:2px;
}
b{
	color:#1F525E;
}