@charset "utf-8";
/* CSS Document */
/* der Container mit den Navigationselemente.*/
#divcontentgr{		
 	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;	
	width:auto;	
	text-shadow: 2px 2px 5px #000000;
	letter-spacing:1.5px;
	margin:250px auto 100px auto;	
}
/*Die Navigationselemente der Unterseite Grammmatik*/
#kj{
	background-color:#efd856;	
}
#mv{	
	background-color:#ef7f39;	
}
#dk{	
	background-color:#ad323c;	
}
#pr{	
	background-color:#60203e;	
}
#pre{	
	background-color:#1F525E;	
}
#jnf{
	background-color:#efd856;	
}
#neg{	
	background-color:#ef7f39;	
}
