@charset "utf-8";
/* CSS Document */
body{
	font-family:"Fredericka the Great", sans-serif;
	min-width:700px;
}
/*die Titelleiste für die Übungen 1 2 3*/
#aufgabe, #aufgabeZwei, #aufgabeDrei{
	margin-top:100px;
	margin-left:150px;
	margin-right:150px;
	text-align:center;
	color:white;
	background-color:#1F525E;
	width:auto;	
	height:auto;
	padding: 5px;
	margin-bottom: 1px;
	font-size:28px;
	border-radius:3px 3px 0 0;
	flex-flow: row wrap;
  	justify-content: center; 
	display:none;
}
/*die Eigenschaften der divs, in denen die Verben der Übung 1 erscheinen sollen*/
.verben{	
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center; 	
	text-align:center;
	width:55px;
	height:20px;
	margin:5px;
	border:1px solid;
	padding:5px 10px;	
	font-size:18px;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	cursor:pointer;	
}
.verben:hover{
	color:white;
	transform:scale(1.1,1.1);
	background-color:#1F525E;
}

/*der Container für die Liste der Verben der Übung 1 und für die Sätze der Übung 3*/
#verbcontent, #formcontainer{
	border-radius:3px;
	margin-left:150px;
	margin-right:150px;
	height:auto;
	background-color:gold;
	display: none;
  	flex-flow: row wrap;
  	justify-content: center;	
}
/*der Container für die Sätze der Übung 3*/
#formcontainer{
	font-size:1.2em;
	margin-bottom:60px;
	padding-left:15px;
}
/*der Container für die Liste der Verben bei der Übung 3*/
#verbliste{
	position:fixed;
	margin-top:100px;
	text-align:center;
	padding:5px;
	z-index:3;
	color:white;
	background-color:#1F525E;
}

/*das Containerelement für die Elemente der Übung 1*/
.um{
	display: block;  	
	}
.titel{
	color:white;
	margin-top:10px;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
	background-color:#ef7f39;
	width:300px;
	height:25px;	
	padding:5px 0px;
	text-align:center;
	font-size:1.3em;
	border:1px solid;
}
.zielcontainer{
	background-color:#1F525E;
	color:white;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center; 	
	width:300px;
	height:200px;
	margin:0px 25px 10px 0;	
	border:1px solid;		
}
#contentcont {
	border-radius:3px;
	left:100px;	
	margin-top:5px;
	margin-left:150px;
	margin-right:150px;
	margin-bottom:100px;
	background-color:gold;
	display: none;
  	flex-flow: row wrap;
  	justify-content: center;
	align-items:center;	
}

/*das Containerelementfür die Sätze der Übung 2*/
#satzcontainer {
	border-radius:0px 0px 3px 3px;
	left:100px;	
	margin-left:150px;
	margin-right:150px;
	background-color:gold;
	display: none;
	flex-direction:column;
  	text-align:center;
  	width:auto;	
	font-size:1.2em;
	margin-bottom:100px;
} 
/*hier werden die Eingabeelemente bei der Übung 2 bestimmt*/
.eingabe{	
	width:80px;
	background-color:gold;
	color:#1F525E;
	font-family:"Fredericka the Great";
	border: none;
    border-bottom: 1px dashed black;
	font-size:1.1em;
	font-weight:bold;
}
/*das div-Element mit der Lösungen für die Übung 3*/
#hilfe{
	position:absolute;
	display:block;
	left:107px;
	padding:12px 0 12px 5px;
	font-size:1.1em;
	background-color:gold;
	color:white;
	border-radius: 3px  0 0 3px;
}
#hilfe:hover{	
	font-weight:bold;
}
/*die Elemente, mit denen Hilfe die einzelnen Aufgaben auf der Seite gruppieren.html zu öffnen bzw. zu schließen sind*/
.übungen {
	display:block;
	width: 75px;
	position:fixed;
	top:200px;
	left:0px;
	background-color:#1F525E;
	color:white;	
	padding:15px;
	text-align:center;
	font-size:1em;	
	border-radius: 0px 3px 3px 0px;
	cursor:pointer;	
}
.übungen:hover{
	color:black;
	background-color:gold;	
	width: 85px;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	box-shadow: 0px 0px 5px black;
}
#kontrolle, #kontrolleEnd, #kontrolleVerb{
	display:block;	
	width: 75px;
	position:fixed;
	top:200px;
	right:0px;
	background-color:gold;
	color:black;	
	padding:15px;
	text-align:center;
	font-size:1em;
	cursor:pointer;	
	border-radius:3px 0px 0px 3px;
}
#kontrolleEnd{		
	top:251px;
}
#kontrolleVerb{
	top:301.5px;
}
#kontrolle:hover, #kontrolleEnd:hover, #kontrolleVerb:hover{
	width: 85px;	
	cursor:pointer;	
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	box-shadow: 0px 0px 5px black;	
}
#zweite{
	top:251px;
}
#dritte{
	top:301.5px;
}
.antwort{
	padding: 2px;
	border-radius:2px;
}
.modalfenster {
    z-index: 1;
    padding-top: 100px;
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
.modal-contentfenster {
	border-radius: 5px;
    position: relative;
    background-color: #fefefe;
	color:#60203e;
    width: 53%;
	margin: auto;
    padding: 10px;
	text-align:center;
	font-size:2em;
	font-family:"Amatic SC";
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.5s;
    animation-name: animateright;
    animation-duration: 0.5s;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
@-webkit-keyframes animateright {
		
    from {right:-900px;}
    to {right:0;}
}
/*die Eigenschaften für den Text, mit dem die Modal-Fenster zu schließen sind*/
.close {   
	color: #aaaaaa;
    float: right;
    font-size: 1em;
	margin-right:5px;
 }
 /*die Schriftart für die tags option, select*/
option, select{
	font-family:"Fredericka the Great", sans-serif;
	font-size:1em;
}
/*die Klasse für die pulsierenden divs*/
.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;	
	animation: pulse 1s linear infinite;
}
/*keyframes für das Realisieren  des Pulsierens*/
@keyframes "pulse" {
 0% {
    color: #1F525E;
 }
 90% {
    color: #ef7f39;
 }
 100% {
    color: #60203e;
 }

}

@-moz-keyframes pulse {
 0% {
    color: #1F525E;
 }
 90% {
    color: #ef7f39;
 }
 100% {
    color: #60203e;
 }

}

@-webkit-keyframes "pulse" {
 0% {
    color: white;
 }
 90% {
    color: #ef7f39;
 }
 100% {
    color: #60203e;
 }

}

