#svg3 {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 72%;
}
#svg-container {
}
.piktogramme {
  cursor: pointer;
  opacity: 0.8;
}
.piktogramme:hover {
  opacity: 1.0;
}
.uebungLink {
  	position:absolute;
  	top:165px;
  	background-color: gold;
  	width:auto;
  	height:auto;
  	border-radius:3px 0 0 3px;
  	z-index:1;
  	right: 5px;
  	padding: 2px;
    margin-right: 2px;
  	font-family:"Amatic SC";
  	letter-spacing:1px;
  	border: solid 1px white;
    color: white;
}
.uebungLink:hover {
	color:black;
	cursor:pointer;
	transition-duration:0.3s;
	transition-timing-function: ease-out;
	border: solid 1px;
	box-shadow: 0px 0px 5px black;
}
@media screen and (max-width: 899px) {
  .uebungLink {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  .uebungLink {
    font-size: 40px;
  }
}
