.inputFeld {
  font-size: 3.0em;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro",
  "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  visibility: hidden;
}
.inputContainer {
  visibility: hidden;
}
@media only screen and (max-width: 900px) {
  #svg3 {
    margin-top: 8em;
  }
}
