@charset "utf-8";

body{	
	background: radial-gradient( circle, #89E2E9, #000000 150%);	
	font-family:"Fredericka the Great", sans-serif;	
	
}
/* die Selektoren der Elemente, die in dem header vorzufinden sind. Die sind für die sämtlichen Seiten gültig.*/
header{
	position:fixed;
	border-radius: 2px;		
	left:0;
	top:0;
	width:100%;
	height:41px;
	box-shadow: 0px 0px 20px black;
	background-color: #E6E9EB;
	min-width:550px;
	opacity: 0.9;
	z-index:1;
}
header.div {
	opacity: 1.0 !important;
}
#logo,.login{
	border-radius: 4px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro",
	"DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.4em;
	padding: 4px 10px;
	height:100%;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
#logo{	
	margin: 3px;
	float:left;
	background-color:#ef7f39;
	height:100%;
	cursor: pointer;
	color: black;
	opacity: 1.0 !important;
	box-shadow: 0px 0px 2px black;
}
.login{	
	background-color:#efd856;
	float:right;
	cursor:pointer;
}
#back{
	margin: 3px;
	font-family:"Gill Sans MT";
	box-shadow: 0px 0px 2px black;
	border-radius: 3px;
	height:100%;
	background-color:#ef7f39;
	float:left;
	cursor:pointer;	
	padding-bottom:4.5px;
	padding-left:25px;
	padding-right:25px;
	font-size:1.6em;
	font-weight:bolder;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
/* die Selektoren der Elemente, die den Willkommen-Teil ausmachen */
.willkommen{
	position:absolute;
	top:75px;	
	width:100%;
	text-align:center;
	text-shadow: 2px 2px 5px #000000;	
	color:white;	
}
.frage, #frage{
	border-bottom:2px dotted;
	border-top:2px dotted;
	position:absolute;
	top:100px;	
	width:100%;
	text-align:center;	
	color:white;
	min-width:550px;
	padding:8px 0;	
	text-shadow: 2px 2px 5px #000000;	
}
#frage{
	top:250px;
}
h1{
	letter-spacing:15px;
}
/*Direkte Verlinkung zu der Übungen-Unterseite*/
.übungenlink{	
	position:fixed;
	top:165px;
	background-color:gold;
	width:auto;
	height:32px;
	border-radius:3px 0 0 3px;
	z-index:1;	
	right: 0px;
	font-size:1.8em;
	padding:2px 10px 10px 10px;
	font-family:"Amatic SC";
	letter-spacing:1px;
	border: solid 1px;
	color:black;
}
.übungenlink:hover{
	background-color:black;
	color:white;
	cursor:pointer;	
	transition-duration:0.3s;
	transition-timing-function: ease-out;
	border: solid 0px;
	box-shadow: 0px 0px 5px black;
		
}
/* der Container mit den Navigationselemente. Die werden in verschiedenen Unterseiten überschrieben.  */
#divcontent{	
 	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;	
	text-shadow: 2px 2px 5px #000000;
	letter-spacing:1.5px;
	max-width: 80%;
	margin-top:330px;
	margin-bottom:230px;	
	margin-left:auto;
	margin-right:auto;
}
.nav{		
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;	
	text-shadow: 2px 2px 5px #000000;
	letter-spacing:1.5px;
	width:260px;
	height:110px;	
	margin:10px;
	padding:0 15px;
	border-radius:3px;
	box-shadow:0px 0px 10px black;
	font-size:2em;
	border: solid 1px black;
	color:white;
	-webkit-transition: width 2s, height 4s; 
    transition: width 1s, height 0.5s;		
}
.nav:hover{
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	box-shadow:0px 0px 0px black;
	font-size:1.9em;
	width:290px;	
	border:1px solid black;
}
#gr{
	background-color:#efd856;
}
#ws{
	background-color:#ef7f39;
}
#üb{
	background-color:#ad323c;
}
#te{
	background-color:#60203e;
}
#qs{
	background-color:#1F525E;
}
/* die Selektoren der Elemente, die in der unteren Leiste aufzufinden sind. Sie bleiben für die sämtlichen Seiten gültig.*/
#uleiste { 
	position:fixed;		
	left:0;
	bottom:-15px;
	width:100%;	
  	list-style-type: none;        
    font-weight:bold;
	background-color:#E6E9EB;
	opacity:0.9;	
	min-width:550px;    
    display: -webkit-flex; 
    display: flex;
	justify-content: center;	
	box-shadow: 0px 0px 20px black;		
}
li {
    display: flex;
  	flex-flow: row wrap;  	
}
li a {
    display: block;
    color:black;letter-spacing:1px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
li a:hover {
    background-color: #1F525E;
	color:white;	
}
/* die a-Selektor wird neu definiert, aber nur für diese Seite */
a{
	text-decoration: none;
	color:white;
}
/* die Selektoren der Elemente, die sich im Modal-Fenster aufzufinden sind. Sie werden in den Unterseiten anders implementiert. */
.modal {
    z-index: 1;
    padding-top: 100px;
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
	border-radius: 5px;
    position: relative;
    background-color: #fefefe;
	color:#60203e;
    width: 33%;
	margin: auto;
    padding: 10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.5s;
    animation-name: animateright;
    animation-duration: 0.5s;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
@-webkit-keyframes animateright {
    from {right:-900px;}
    to {right:0;}
}
@keyframes animateright {
    from {right:-900px; }
    to {right:0; }
}
.close {
    color:#aaaaaa;
    float:right;
    font-size: 16px;
	margin-right: 5px;
  }
.close:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}
input[type=text], input[type=password] {    
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border-radius:3px;
}
/* die Selektoren der Elemente button, die werden im header und im Modal-Fenster implementiert*/
.button {	
	border-radius:3px;
    background-color: #efd856;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.1em;
}
.button:hover, .login:hover, #logo:hover, #back:hover {
    background-color:black;
	color:white;
}
/* die a-Selektor innerhalb eines Abschnittes wird  neu definiert*/
p a{
	text-align:right;
	color:#60230E;
}
p a:hover{
	font-size:1.2em;
	color:#ad323c;
}

