@charset "utf-8";
/* CSS Document */
/*Elemente der Tabellencontainer */
#rv, #uv, #tv{
	cursor:pointer;
	background-color:#efd856;
	text-align:center;
	padding:30px 15px 0px 15px;
}
#uv{	
	background-color:#ef7f39;	
}
#tv{
	background-color:#ad323c;			
}
/*Element zum Öffnen des Tabellencontainers der untrennbaren Verben */
#untrennbar-knopf {
	font-size: 1em;
	cursor:pointer;
	position:relative;
	width:17em;
	height:auto;
	border-radius: 2px;
	text-align:center;
	display:inline-block;
	margin:15px 0 0px 15px ;
	box-shadow: 0px 0px 20px black;
	border: solid 0.5px black;
	padding:3px 15px;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
#untrennbar-knopf:hover{
	transform:scale(1.1,1.1);
	background-color:#ad323c;
}
/*Containerelement für die Verben*/
.rvtabelle{
	position: relative;	
	color:white;
	margin:-550px auto 55px auto;
	padding:10px;
	display: none;
	text-align:center;
	background-color:#1F525E; 
	font-size:1.4em;
	width:77%;
	min-width:650px;
	border-radius:3px;	
}
.rvtabelle  p span{
	color:gold;
	background-color:black;
	padding: 0 10px;
}
/*Element zum Schließen der Tabellencontainer */
.x{
	top:0;
	right:0;
	position:absolute;
	padding:0 15px;
	font-family:"Gill Sans MT";
	cursor:pointer;
}
.x:hover{
	color:red;
}
/*Button-Element zum Öffnen der unterseite konjugator.html */
.konjugator-button {	
	cursor: pointer;
	border-radius: 3px;
	background-color:#ef7f39 ;
	font-size:1.1em;
	width: 300px;
	margin: 0 auto;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
.konjugator-button:hover {
	background-color:black;
	transform:scale(1.1,1.1);
}
/*Spezifizierung für die verschiedenen Tabellen-Elementen */
table{
	border-radius:3px;
	display:none;
	color:black;
	padding:10px 15px;
	background-color:#FFCE00;
}
td, th {
    border: 1px dotted black;
	padding:5px;
	text-align:left;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
th{
	color:white;
}
td:hover{
	transform:scale(1.3,1.1);
	border: 0px solid black;
	background-color:#1F525E;
	color:white;
}


