@charset "utf-8";
/* CSS Document */
/*Der Container für die Elemente der Seite*/
#container{
 	text-align:center;
	width:55.6%;
	height:501px;
	color:white;
	margin:100px auto auto auto;	
	font-size: 1.7em;
	min-width:200px;
	box-shadow: 0px 0px 20px black;
	padding:10px;
	}
/*das input-Element*/
#eingabe{
	font-family:'Fredericka the Great';
	font-size:0.8em;	
	}
/*das Ausgabe-Element*/	
table {
	position:relative;
	margin: 25px auto;
	height: auto;
	font-family:'Fredericka the Great';
	text-align:center;
    border-collapse: collapse;
	font-size: 1em;
}
td, th {
    border: 1px dotted #ddd;
    text-align: left;
}
th{
	text-align:left;
	background-color:#1F525E;
	padding:0 5px;
}
td{
	background-color:#ef7f39;
	text-align:left;
	padding:0 5px;

}
