@charset "utf-8";
/* CSS Document für die Unterseiten: zahlen.html, deklination.html, negation.html*/

/*div-content für die Tabelle für verschiedene Unterseiten*/
.tabelle{	
	position: relative;	
	color:white;
	margin-top:220px;
	padding:10px;	
	text-align:center;	
	font-size:1.2em;
	width:auto;
	border-radius:3px;
	margin-bottom:65px;
	box-shadow: 0 1px 10px black;
}
/*Spezifizierung für die Unterseite Zahlen */
#tabelleoZ, #tabelleKZ{
	display:none;
}
#oZ{
	width:120px;
	padding:15px 15px 15px 5px;
	top:213.5px;
}
#kZ{
	width:120px;
	padding:15px 15px 15px 5px;
	
}
/*Spezifizierung für die Unterseite Deklination */
#uArtikelContent{		
	display: none;	
}
/*Spezifizierung für die verschiedenen Tabellen-Elementen */
.tablecontent{
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
	margin:5px auto;
	width:auto;
}
.tabelle  p span{
	color:gold;
	background-color:black;
	padding: 0 10px;
	border-radius:3px;
}
table{
	border-radius:3px;
	display:inline-block;
	color:black;
	padding:5px 5px;
	background-color:#FFCE00;
	margin:15px;	
}
td, th {
    border: 1px dotted black;
	padding:5px;
	text-align:left;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}
th{
	color:white;
}
td:hover{
	transform:scale(1.3,1.1);
	border: 0px solid black;
	background-color:#1F525E;
	color:white;
}
table span{
	 color:white;
}
th span{
	 color:gold;
}	

/*Container-Element für die Theorie und Beispielsätze*/
.box {
	width:66%;
	padding-top:1px;
	padding-bottom:15px;
	background:#1F525E;
	margin:20px auto 20px auto;
	color:white;
	height:auto;
	border-radius:5px;	
}

/* Schatten-Effekt*/
.effect2{
  position: relative;
}
.effect2:before, .effect2:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px black;
  transform: rotate(-3deg);
}
.effect2:after{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#fragen{
	text-align:left;
	margin-left:10px;
}

span{
	color:gold;
}
/*Container-Element für die Theorie und Beispielsätze bei der Unterseite Deklination*/
.artikel {
	display:block;
	width: 85px;
	position:fixed;
	top:163px;
	left:0px;
	background-color:#1F525E;
	color:white;	
	padding:5px 20px 5px 5px;
	text-align:left;
	font-size:1em;	
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	cursor:pointer;	
	z-index:2;
	border-radius:0px 3px 3px 0;
}
.artikel:hover{
	color:black;
	background-color:gold;	
}
#ubA{
	top:213.5px;
}
/*Implementierung der pop-up-Fenster*/
.tooltip {	
    position: relative;
    display: inline-block;
    cursor:pointer;
}
.tooltip span{	
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;	
	animation: pulse 1s linear infinite;
}
.tooltip .tooltiptext {
	letter-spacing:2px;
    visibility: hidden;
    width: 250px;
	font-family:"Amatic SC";
	font-size:1.3em;	
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
	top:-80px;
	left:-50px;
    /* Position  tooltip */
    position: absolute;
    z-index: 1;
}
.tooltiptext span{
	color:gold;	
}
.tooltip:hover .tooltiptext {
    visibility: visible;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;	
}/*die Klasse für die pulsierenden divs*/
.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;	
	animation: pulse 1s linear infinite;
}
/*keyframes für das Realisieren  des Pulsierens*/
@keyframes "pulse" {
 0% {
    color: white;
 }
 90% {
    color: gold;
 }
 100% {
    color: #60203e;
 }
}
@-moz-keyframes pulse {
 0% {
    color: white;
 }
 90% {
    color: gold;
 }
 100% {
    color: #60203e;
 }
}
@-webkit-keyframes "pulse" {
 0% {
    color: white;
 }
 90% {
    color: gold;
 }
 100% {
    color: #60203e;
 }
}
/*Spezifizierungen für die Unterseite Negation */
.negationswörter{
	color:black;
	background-color:gold;
	width:70%;
	padding-top:1px;
	padding-bottom:15px;	
	margin:20px auto;	
	height:auto;
	border-radius:5px;
}
#nicht, #kein{
	position:relative;		
	width:300px;
	color:black;
	background-color:gold;
	cursor:pointer;
	padding:5px;
	border-radius:3px;
	box-shadow: 0px 4px 2px black;
}
#kein{
	float:right;
	margin-top:-37px;	
}
#nicht:hover, #kein:hover{	
	color:white;
	background-color:#1F525E;
	cursor:pointer;
	box-shadow: 0px 0px 0px ;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
#nichtcontent{	
	display:none;
}
#keincontent{
	display:none;
}
