@charset "utf-8";
/* CSS Document */
span{
	color: gold;
}
.eingabe, .zweiteEingabe{
	width: 300px;
  	-webkit-transition: width .35s ease-in-out;
  	transition: width .25s ease-in-out;	
	background-color:gold;	
	font-family:"Fredericka the Great";
	border: none;
    border-bottom: 1px dotted black;
	font-size:1em;
	font-weight:bold;
}
.eingabe:focus{
	width:55%;
}