@charset "utf-8";
/* CSS Document */
/*Container für die sämtlichen Unterelemente:Präpositionen + Bilder + Sätze*/
#contentcont{
	border-radius:3px;
	left:100px;		
	margin-left:100px;
	margin-right:100px;	
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
	align-items:center;	
}
.tabellecontainer{
	margin-top:220px;
	padding:10px;	
	text-align:center;	
	font-size:1.2em;
	width:90%;
	border-radius:3px;
	margin-bottom:165px;
	box-shadow: 0 1px 10px black;
	color:white;
	margin-left:auto;
	margin-right:auto;
}
.tabellecontainer  p span{
	color:gold;
	background-color:black;
	padding: 0 10px;
	border-radius:3px;
}
.um{
	display: block;	
	margin:15px; 	
}
.titel{
	color:white;
	margin-top:5px;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: center;
	background-color:black;
	width:330px;
	height:35px;	
	padding:0px 0px;
	text-align:center;
	font-size:1.3em;
	cursor:pointer;	
}
.titel:hover{
	background-color: gold;
	color:black;
	font-weight:bold;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

/*Textcontainer für die Beispielsätze*/
#textcontaineran, #textcontainerauf, #textcontainerin,#textcontainerhinter,#textcontainerneben, #textcontainerüber,#textcontainerunter,#textcontainervor,#textcontainerzwischen{
	background-color:gold;	
	color:black;	
	width:330px;
	height:180px;
	font-family:"Amatic SC";
	cursor:pointer;	
	display: none;
  	flex-flow: row wrap;
  	justify-content: center; 	
}

/*Container für die Bilder*/
#an{	
	background-image:url(../Bilder/praep/an.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#auf{	
	background-image:url(../Bilder/praep/auf.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#hinter{	
	background-image:url(../Bilder/praep/hinter.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#in{	
	background-image:url(../Bilder/praep/in.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}

 #neben{	
	background-image:url(../Bilder/praep/neben.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
 #über{	
	background-image:url(../Bilder/praep/ueber.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#unter{	
	background-image:url(../Bilder/praep/unter.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#vor{	
	background-image:url(../Bilder/praep/vor.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}
#zwischen{	
	background-image:url(../Bilder/praep/zwischen.JPG);
	background-size: 330px 180px;	
	display: block;  	
	width:330px;
	height:180px;
	
}

/*neue Implementierung des p-Elements*/
p{
	font-size:1.8em;
}
