@charset "utf-8";
/* CSS Document */
input[type=checkbox] {
  display: none;
}
/*The :before pseudo class is used to create our new image before the HTML label tag. We’ll now look at the main properties used in this section.*/
input[type=checkbox] + label:before {

		width: 16px;  
	    height: 16px; 
	    content: "";  
	    display: inline-block;  
	    margin-right: 5px;  
	    background-color:gold;  
	    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3); 
	    vertical-align:middle;	    
	    border-radius: 2px;
		border:1px solid;  
}
input[type=checkbox] + label:hover {
	
	    cursor:pointer; 
	    color:white;  
	   	-webkit-transition:background-color 0.2s linear;
  		-o-transition:background-color 0.2s linear;
  		-moz-transition:background-color 0.2s linear;
}
input[type=checkbox]:checked + label:before {
		content:"\2714";
		color:white;
	    background-color: #1F525E; 
		text-align:center;
		line-height:15px;
	    text-shadow:0px 0px 3px #000000;
}
.antwort, .fantwort{
	display:inline-block;
}
#anzahl{
	background-color: #1F525E;
	color: gold;
	font-family: "Amatic SC";
	font-size:2em;
	margin: 20px 0px;
	letter-spacing:2px;
}
label{
	color: #1F525E;
	font-weight:bold;
}