label{
	margin:5px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"]:checked + label {	
   color:white;
}
label:hover {
   cursor:pointer;
   color: white;
   	-webkit-transition:background-color 0.2s linear;
  	-o-transition:background-color 0.2s linear;
  	-moz-transition:background-color 0.2s linear;
  	transition:border 0.2s linear;
}
input[type="radio"] + label span {
    display:inline-block;
    width:10px;
    height:10px;    
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  25%;
    border-radius:  25%;	
}
input[type="radio"] + label span {     
	 border: solid 3px;
}
input[type="radio"]:checked + label span{
     background-color:black;
	 border: solid white 3px;
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:border 0.2s linear;
}