body {
    color: #fff;
}

#buttons {
    margin-left: 34%;
    margin-bottom: 10px;
}

#buttonarea {
    width: 300px;
    height: auto;
    margin: auto;
    left: -20px;
    position: absolute;
}

.content {
    position: absolute;
    margin: auto;
    margin-top: 220px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 500px;
    background: #1F525E;
    box-shadow: 0 1px 10px black;
}

.uhrContainer {
    position: absolute;
    margin: auto;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.zeitContainer {
    width: 300px;
    height: 120px;
    background: #000;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: -20px;
    top: 65%;
}

.h1 {
    color: #fff;
}

.right {
    width: 50px;
    height: 20px;
    background-color: green;
    float: left;
    border-right: 1px solid #000;
}

.wrong {
    width: 50px;
    height: 20px;
    background-color: red;
    float: left;
    border-right: 1px solid #000;
}

.firstelement {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.lastelement {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

#quizprogress {
    width: 306px;
    height: 20px;
    background-color: #437982;
    position: absolute;
    left: -8%;
    top: 85%;
    float: left;
    border-radius: 18px;
    border: 1px solid #000;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}