#svg8 {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding-bottom: 100px;
}

.zimmer:hover {
  fill: #ffffff;
}
.zimmer {
  fill:#d9d9d9;
  cursor: pointer;
}
@media screen and (max-width: 1799px) {
  #svgContainer {
    margin-top: 11%;
  }
}
@media screen and (min-width: 1800px) {
  #svgContainer {
    margin-top: 9%;
  }
}
@media screen and (max-width: 1400px) {
  #svgContainer {
    margin-top: 15%;
  }
}
@media screen and (max-width: 1150px) {
  #svgContainer {
    margin-top: 18%;
  }
}
@media screen and (max-width: 900px) {
  #svgContainer {
    margin-top: 22%;
  }
}
@media screen and (max-width: 750px) {
  #svgContainer {
    margin-top: 40%;
  }
}
@media screen and (max-width: 500px) {
  #svgContainer {
    margin-top: 50%;
  }
}
@media screen and (max-width: 350px) {
  #svgContainer {
    margin-top: 70%;
  }
}
