input {
    border: 2px solid white;
    border-radius: 4px;
}

#container{
    border-radius: 0 0 3px 3px;
    height: auto;
    background-color: gold;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.4em;
    color: black;
    padding: 20px;
}